.app {
  min-width: 320px;
  max-width: 754px;
  padding: 0 103px 0;
  margin: auto;
}

.app__header {
  display: flex;
  padding-top: 35px;
}

.app__logo {
  margin: auto;
}

.app__main {
  display: flex;
  justify-content: space-between;
  margin-top: 20px;
}

.filters {
  width: 192px;
  height: 212px;
  background: #FFFFFF;
  border-radius: 5px;
  box-shadow: 0 2px 8px 0 rgba(0, 0, 0, 0.1);
  padding: 20px;
}

.tickets {
  width: 502px;
//  outline: 2px dotted red;
}


@media screen and (max-width: 940px) {
  .app {
    padding: 0 83px 0;
  }
}

@media screen and (max-width: 900px) {
  .app {
    padding: 0 63px 0;
  }
}

@media screen and (max-width: 860px) {
  .app {
    padding: 0 43px 0;
  }
}

@media screen and (max-width: 820px) {
  .app {
    padding: 0 23px 0;
  }
}


@media screen and (max-width: 780px) {
  .app {
    padding: 0 3px 0;
  }
  .filters {
    margin-right: 20px;
  }
}

@media screen and (max-width: 640px) {
  .app__main {
    flex-direction: column;
    align-items: center;
  }
  .filters {
    margin-bottom: 20px;
    margin-right: 0;
  }
}

@media screen and (max-width: 500px) {
  .tickets {
    width: 100%;
    min-width: 320px;
  }
}
