body {
  margin: 0;
  min-width: 320px;
  background-color: #f3f7fa;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

p {
  margin: 0;
}

h1,
h2,
h3 {
  margin: 0;
}

.ant-progress.ant-progress-line.ant-progress-status-normal.ant-progress-default .ant-progress-outer {
  margin-top: 15px;
  z-index: 120;
}

.ant-progress-bg {
  background: green;
}

.ant-alert.ant-alert-info.ant-alert-no-icon {
  z-index: 120;
  min-height: 50px;
  background-color: #7fffd4;
  border: 1px solid blue;
  border-radius: 4px;
  display: flex;
}

.ant-alert.ant-alert-info.ant-alert-no-icon .ant-alert-content {
  margin: auto;
}

.ant-alert.ant-alert-info.ant-alert-no-icon .ant-alert-message {
  font-family: 'Open Sans', sans-serif;
  font-weight: 400;
}
